includes:
  - phpstan-baseline.neon

parameters:
  level: max
  paths:
    - %currentWorkingDirectory%/src
    - %currentWorkingDirectory%/tests
  treatPhpDocTypesAsCertain: false
  ignoreErrors:
    -
      identifier: missingType.iterableValue
