parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#2 \$locale of function setlocale expects string\|null, bool\|string given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Form/DataTransformer/MoneyToLocalizedStringTransformerTest.php

